[Desktop Entry]
Name=IDA Pro (64-bit)
Exec=env WINEPREFIX="/home/user/.wine" wine C:\\\\Program\\ Files\\ \\(x86\\)\\\\IDA\\ 6.6\\\\idaq64.exe 
Type=Application
StartupNotify=true
Path=/home/user/.wine/dosdevices/c:/Program Files (x86)/IDA 6.6
Icon=E522_idaq64.0
X-XFCE-Source=file:///home/user/Desktop/IDA%20Pro%20(64-bit).desktop
