[submodule "pwntools"]
	path = pwntools
	url = git://github.com/zachriggle/pwntools.git
[submodule ".bash_it"]
	path = .bash_it
	url = git://github.com/zachriggle/bash-it.git
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = git://github.com/rapid7/metasploit-framework.git
[submodule ".zprezto"]
	path = .zprezto
	url = git://github.com/zachriggle/prezto.git
[submodule ".pyenv"]
	path = .pyenv
	url = git://github.com/yyuu/pyenv.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "peda"]
	path = peda
	url = https://github.com/zachriggle/peda.git
[submodule "z3"]
	path = z3
	url = https://github.com/zachriggle/z3.git
[submodule "private"]
	path = private
	url = git@github.com:zachriggle/private.git
