[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/zachriggle/oh-my-zsh.git
[submodule "pwntools"]
	path = pwntools
	url = https://github.com/pwnies/pwntools.git
[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/zachriggle/bash-it.git
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:zachriggle/prezto.git
