[user]
	name = zachriggle
    email = zach@riggle.me
[github]
    user = zachriggle
[apply]
	whitespace = nowarn
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[color]
	branch = auto
	diff = auto
	status = auto
