[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Icon=eclipse
Exec=/home/user/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
X-XFCE-Source=file:///usr/share/applications/eclipse.desktop
Path=/home/user/eclipse
StartupNotify=false
